.cart-page {
    background-color   : rgb(243 243 243);
    // padding         : 30px;

    a {
        text-decoration: none;
        color          : black;
    }

    .line {
        background-color: rgb(243 243 243);
        padding         : 8px 125px;

    }

    .title-cart {
        font-size    : 22px;
        font-weight  : bold;
        margin-bottom: 25px;
        padding-left : 20px;

    }

    .container {
        background-color: white;
        /* padding      : 10px 40px; */
        min-width       : 600px;
        min-height      : 350px;
        border-radius   : 8px 8px 0px 0px;

        .cart-item {
            display       : flex;
            align-items   : center;
            border-bottom : 1px solid #eee;
            padding-bottom: 20px;
            margin-bottom : 20px;

            .item-left {
                display    : flex;
                align-items: center;

                .btn-delete {
                    font-size          : 15px;
                    padding            : 0px 4px 0px 4px;
                    margin-right       : 6px;
                    /* background-color: #d8d8d8; */
                    border             : none;
                    height             : 24px;

                }

                .cart-image {
                    width       : 90px;
                    height      : 90px;
                    object-fit  : cover;
                    margin-right: 20px;
                }
            }

            .item-right {
                max-width: 445px;
                min-width: 445px;

                .name {
                    font-weight: 500;
                    font-size  : 15px;
                }

                .name-variant {
                    font-size       : 12px;
                    color           : #ffffff;
                    background-color: #dc3545;
                    font-weight     : 600;
                    padding         : 0px 8px;
                    border-radius   : 15px;
                    padding-bottom  : 1px;
                }
            }

            .content-right {
                margin-left: 20px;
                display    : flex;
                align-items: flex-end;
                gap        : 20px;

                .item-amount {
                    display     : flex;
                    align-items : center;
                    margin-right: 20px;

                    button {
                        border        : none;
                        background    : #c31829;
                        font-size     : 22px;
                        cursor        : pointer;
                        min-width     : 33px;
                        padding-bottom: 3px;
                        color         : white;
                        border-radius : 6px;

                    }

                    .amount-number {
                        margin: 0 12px;
                    }
                }

                .item-price {
                    margin-right: 20px;

                    .price {
                        text-decoration: line-through;
                        font-size      : 15px;
                        color          : #999;
                    }

                    .sale_price {
                        font-weight: bold;
                        font-size  : 17px;
                    }
                }

                .tong-price {
                    font-weight: bold;
                    color      : #c31829;
                    font-size  : 17px;

                }
            }
        }

        .order-summary {
            background    : #f5f3f3;
            padding       : 20px;
            border-radius : 5px;
            /* border-left: 1px solid #dadada; */
            min-height    : max-content;

            .price {
                display        : flex;
                margin-bottom  : 15px;
                align-items    : flex-end;
                justify-content: space-between;

                .tam-tinh {
                    font-size: 15px;
                }

                .final-price {
                    font-weight: bold;
                    font-size  : 20px;
                    color      : #c31829;
                }
            }

            .text-tam-tinh {
                font-weight  : bold;
                display      : block;
                margin-bottom: 10px;
            }



            .check-out {
                width           : 100%;
                background-color: #c31829;
                border          : none;
                font-weight     : bold;
            }
        }

        .apply-voucher {

            .title-voucher {
                font-size          : 23px;
                /* border-bottom   : 3px solid #c31829; */
                padding            : 10px 17px;
                /* background-color: #000000; */
                /* color           : white; */
                /* border-radius   : 29px; */
                font-weight        : 600;
            }

            .top-voucher {
                .row-text{
                    display: flex;
                    gap: 10px;
                }
            }

            .bottom-voucher {

                .item-voucher {
                    // border         : 1px solid #ccc;
                    border-radius  : 5px;
                    padding        : 10px 11px;
                    display        : flex;
                    gap            : 16px;
                    margin-bottom  : 10px;
                    justify-content: flex-start;
                    align-items    : flex-end;

                    .card {
                        position: relative;

                        .ticket-perforations {
                            position        : absolute;
                            left            : 0;
                            right           : 0;
                            display         : flex;
                            justify-content : space-between;
                            overflow        : hidden;
                            background-color: #ffc5cb;

                            &.top {
                                top      : 0;
                                height   : 5px;
                                color    : rgb(255, 255, 255);
                                transform: rotate(180deg);

                            }

                            &.bottom {
                                bottom: 0;
                                height: 5px;
                            }

                            &.left {
                                bottom        : 0;
                                height        : 5px;
                                flex-direction: column;

                            }

                            &.right {
                                bottom        : 0;
                                height        : 5px;
                                flex-direction: column;

                            }


                            

                            .circle {
                                width           : 10px;
                                height          : 10px;
                                background-color: #f8f9fa;
                                border-radius   : 50%;
                                transform       : translateY(-50%);
                            }
                        }

                        .voucher {
                            display         : flex;
                            padding         : 11px;
                            border-left     : 1px dashed #dc3545;
                            border-right    : 1px dashed #dc3545;
                            align-items     : flex-end;
                            background-color: #ffffff;
                            gap             : 22px;
                            justify-content : center;

                            .text-voucher {
                                color      : #b90114;
                                font-size  : 16px;
                                font-weight: 900;
                            }

                            .text-child {
                                font-size  : 14px;
                                font-weight: 500;
                                color      : #2d2d2d;
                            }

                            .icon-container {
                                .icon-wrapper {
                                    background-color: #ffc6cb;
                                    padding         : 7px;
                                    border-radius   : 5px;

                                    .icon {
                                        color      : #c31829;
                                        /* width   : 24px; */
                                        height     : 94px;
                                        font-size  : 50px;
                                        font-weight: 900;
                                    }
                                }
                            }

                            .voucher-content {}
                        }
                    }

                    .boc-icon {
                        background-color: #e14f5d;
                        /* text-align   : center; */
                        border-radius   : 6px;

                    }

                    .text-per {
                        font-size       : 39px;
                        background-color: rgb(225, 79, 93);
                        color           : white;
                        font-weight     : 600;
                        text-align      : center;
                        /* padding      : 18px 4px; */
                        margin          : 27px 10px;

                    }

                }

                .text-cancel {
                    margin-left: 86px;
                    min-width  : 88px;
                }

            }
        }
    }


}