.checkOut-page {
    .modal {
        background-color: white;
        border-radius   : 10px;
        padding         : 20px;
        max-width       : 600px;
        margin          : 0 auto;
        position        : relative;

        .address-list {
            list-style-type: none;
            padding        : 0;

            .address-item {
                padding      : 10px;
                margin-bottom: 10px;
                border       : 1px solid #ddd;
                cursor       : pointer;
                transition   : background-color 0.3s;

                &:hover {
                    background-color: #f5f5f5;
                }

                .name {
                    font-weight: bold;
                }

                .address-detail {
                    font-size: 14px;
                    color    : #666;
                }

                .default-label {
                    background-color: #ff4d4f;
                    color           : white;
                    padding         : 2px 6px;
                    border-radius   : 3px;
                    font-size       : 12px;
                    margin-left     : 10px;
                }
            }
        }

        .close-btn {
            background-color: #ff4d4f;
            color           : white;
            padding         : 10px 20px;
            border          : none;
            cursor          : pointer;
            margin-top      : 20px;
            border-radius   : 5px;
            transition      : background-color 0.3s;

            &:hover {
                background-color: #e64444;
            }
        }
    }

    .modal-overlay {
        background-color: rgba(0, 0, 0, 0.7);
        position        : fixed;
        top             : 0;
        left            : 0;
        right           : 0;
        bottom          : 0;
        display         : flex;
        align-items     : center;
        justify-content : center;
    }

    .line {
        height          : 48px;
        background-color: #000000;

        .image img {
            width : 93%;
            height: auto;
        }
    }


    .title-checkOut {
        font-size     : 21px;
        text-transform: uppercase;
        font-weight   : 400;
        font-style    : normal;
        font-weight   : 500;
        margin-left   : 178px;
        color         : white;
        padding-top   : 8px;
    }

    .container {
        padding: 20px 80px;

        .cart {
            display    : flex;
            align-items: center;
            margin     : 10px 0px;

            a {
                text-decoration: none;
            }

            .title-small {
                font-size        : 17px;
                /* text-transform: uppercase; */
                font-weight      : 400;
                font-style       : normal;
                font-weight      : 500;
            }
        }


        .checkOut {
            display: flex;

            .no-ship {
                border         : 1px solid #cacaca;
                /* margin-top  : 15px; */
                height         : 113px;
                border-radius  : 6px;
                display        : grid;
                justify-content: space-around;
                justify-items  : center;


                .icon {
                    width : 70px;
                    height: fit-content;
                    color : #a6a6a6;
                }

                p {
                    color: #a6a6a6;

                }
            }

            .ship,
            .payment {
                margin-top   : 15px;
                margin-bottom: 15px;
                font-weight  : 500;
                font-size    : 17px;

            }

            .shipping-method {
                border-radius   : 5px;
                background-color: #f6f6f6;
                padding         : 20px 9px;
                border          : 1px solid #d6d6d6;
                display         : flex;
                gap             : 9px;
                cursor          : pointer;

            }

            .apply-voucher {
                border-top : 1px solid #ccc;
                margin-top : 40px;
                padding-top: 11px;

                .title-voucher {
                    font-size          : 23px;
                    /* border-bottom   : 3px solid #c31829; */
                    padding            : 10px 17px;
                    /* background-color: #000000; */
                    /* color           : white; */
                    /* border-radius   : 29px; */
                    font-weight        : 600;
                }

                .top-voucher {
                    .row-text {
                        display: flex;
                        gap    : 10px;
                    }
                }

                .bottom-voucher {

                    .item-voucher {
                        // border         : 1px solid #ccc;
                        border-radius  : 5px;
                        padding        : 10px 11px;
                        display        : flex;
                        gap            : 16px;
                        margin-bottom  : 10px;
                        justify-content: flex-start;
                        align-items    : flex-end;

                        .card {
                            position: relative;
                
                            .ticket-perforations {
                                position        : absolute;
                                left            : 0;
                                right           : 0;
                                display         : flex;
                                justify-content : space-between;
                                overflow        : hidden;
                                background-color: #ffc5cb;
                
                                &.top {
                                    top      : 0;
                                    height   : 5px;
                                    color    : rgb(255, 255, 255);
                                    transform: rotate(180deg);
                
                                }
                
                                &.bottom {
                                    bottom: 0;
                                    height: 5px;
                                }
                
                                &.left {
                                    bottom        : 0;
                                    height        : 5px;
                                    flex-direction: column;
                
                                }
                
                                &.right {
                                    bottom        : 0;
                                    height        : 5px;
                                    flex-direction: column;
                
                                }
                
                
                                // .ticket-perforations.left {
                                //     top: 0;
                                //     bottom: 0;
                                //     left: 0;
                                //     width: 10px; /* Độ rộng của perforations */
                                //     flex-direction: column;
                                // }
                
                                // .ticket-perforations.right {
                                //     top: 0;
                                //     bottom: 0;
                                //     right: 0;
                                //     width: 10px;
                                //     flex-direction: column;
                                // }
                
                                .circle {
                                    width           : 10px;
                                    height          : 10px;
                                    background-color: #f8f9fa;
                                    border-radius   : 50%;
                                    transform       : translateY(-50%);
                                }
                            }
                
                            .voucher {
                                display         : flex;
                                padding         : 11px;
                                border-left     : 1px dashed #dc3545;
                                border-right    : 1px dashed #dc3545;
                                align-items     : center;
                                background-color: #ffffff;
                                gap             : 22px;
                                justify-content : center;
                
                                .text-voucher {
                                    color      : #b90114;
                                    font-size  : 16px;
                                    font-weight: 900;
                                }
                
                                .text-child {
                                    font-size  : 14px;
                                    font-weight: 500;
                                    color      : #2d2d2d;
                                }
                
                                .icon-container {
                                    .icon-wrapper {
                                        background-color: #ffc6cb;
                                        padding         : 7px;
                                        border-radius   : 5px;
                
                                        .icon {
                                            color      : #c31829;
                                            /* width   : 24px; */
                                            height     : 94px;
                                            font-size  : 50px;
                                            font-weight: 900;
                                        }
                                    }
                                }
                
                                .voucher-content {}
                            }
                        }
                        .boc-icon {
                            background-color: #e14f5d;
                            /* text-align   : center; */
                            border-radius   : 6px;

                        }

                        .text-per {
                            font-size       : 39px;
                            background-color: rgb(225, 79, 93);
                            color           : white;
                            font-weight     : 600;
                            text-align      : center;
                            /* padding      : 18px 4px; */
                            margin          : 27px 10px;

                        }

                    }

                    .text-cancel {
                        margin-left: 86px;
                        min-width  : 88px;
                    }

                }
            }

            .left {

                .name {
                    font-size  : 16px;
                    font-weight: 500;
                    color      : #333;
                }

                .shipping-address {
                    border          : 1px solid #ddd;
                    padding         : 15px;
                    background-color: #fff;
                    border-radius   : 5px;

                    .address-header {
                        display       : flex;
                        align-items   : center;
                        border-bottom : 1px dashed #ddd;
                        padding-bottom: 10px;
                        margin-bottom : 10px;

                        .icon {
                            color       : #ff4d4f;
                            margin-right: 10px;
                        }

                        .title {
                            font-size  : 18px;
                            font-weight: bold;
                            color      : #ff4d4f;
                        }
                    }

                    .address-content {
                        display        : grid;
                        justify-content: space-between;
                        align-items    : center;

                        

                        .address-detail {
                            font-size : 14px;
                            color     : #666;
                            display: flex;
                        }

                        .address-actions {
                            display    : flex;
                            align-items: center;
                            gap        : 10px;

                            .default-label {
                                background-color: #ff4d4f;
                                color           : #fff;
                                padding         : 2px 6px;
                                border-radius   : 3px;
                                font-size       : 12px;
                            }

                            .change-btn {
                                color     : #007bff;
                                background: none;
                                border    : none;
                                cursor    : pointer;
                                font-size : 14px;

                                &:hover {
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                }

            }

            .right {

                .order {
                    .gia {
                        display        : flex;
                        justify-content: space-between;
                        color          : #820813;


                        .tam {
                            display        : flex;
                            justify-content: space-between;
                            padding        : 10px 9px;
                            font-weight    : 500;
                            font-size      : 17px;
                        }
                    }

                    .gia-ship {
                        display        : flex;
                        justify-content: space-between;

                        .tam-tinh {
                            display        : flex;
                            justify-content: space-between;
                            padding        : 10px 9px;
                            font-weight    : 500;
                            font-size      : 17px;
                        }
                    }

                    .thanh-toan {
                        background-color: #fc4456;
                        font-size       : 15px;
                        text-transform  : uppercase;
                        font-style      : normal;
                        font-weight     : 500;
                        color           : white;
                        padding         : 6px 10px;
                        text-align      : center;
                        margin-left     : 20px;
                        cursor          : pointer;
                        width           : 94%;

                        &:hover {
                            background-color: #c31829;

                        }

                    }

                    .left {
                        .check-row {
                            display        : flex;
                            gap            : 10px;
                            border-bottom  : 1px solid #dbdbdb;
                            margin         : 10px;
                            justify-content: space-between;

                            /* phần info */
                            .content-left {
                                display: flex;
                                gap    : 15px;

                                .item-left {
                                    display: flex;

                                    .checkOut-image {
                                        width : 100px;
                                        height: auto;

                                    }

                                    .btn-delete {
                                        background-color: #e7e7e7;
                                        margin          : 45px 0px;
                                        padding-bottom  : 3px;
                                    }
                                }

                                .item-right {
                                    .name {
                                        font-weight: 600;
                                        font-size  : 14px;
                                        max-width  : 264px;
                                    }

                                    .name-variant {
                                        font-weight     : 500;
                                        font-size       : 10px;
                                        color           : #ffffff;
                                        /* border       : 1px solid #c31829; */
                                        background-color: #c31829;
                                        padding         : 1px 8px;
                                        border-radius   : 10px;
                                    }
                                }


                            }

                        }

                        /* phần giá và mount */
                        .content-right {
                            display      : grid;
                            /* gap       : 5px; */
                            align-content: stretch;
                            justify-items: end;

                            .amount-number {
                                font-size  : 13px;
                                font-weight: 500;


                            }

                            .tong-price {
                                font-size  : 15px;
                                font-weight: 600;
                                margin-top : 19px;
                                color      : #820813;

                            }
                        }

                    }

                    /* phần tạm tính */
                    .right {
                        display        : grid;
                        justify-items  : start;
                        justify-content: space-evenly;
                        border-left    : 1px solid #666666;


                        .tam {
                            border-top   : 1px solid #cacaca;
                            border-bottom: 1px solid #cacaca;
                        }


                        .tam-tinh {
                            font-size     : 16px;
                            text-transform: uppercase;
                            font-style    : normal;
                            font-weight   : 700;
                            color         : #820813;
                        }

                        .tong {}


                    }
                }
            }

        }



    }
}