

.checkOut-page {
    .modal {
        background-color: white;
        border-radius: 10px;
        padding: 20px;
        max-width: 600px;
        margin: 0 auto;
        position: relative;
    
        .address-list {
            list-style-type: none;
            padding: 0;
    
            .address-item {
                padding: 10px;
                margin-bottom: 10px;
                border: 1px solid #ddd;
                cursor: pointer;
                transition: background-color 0.3s;
    
                &:hover {
                    background-color: #f5f5f5;
                }
    
                .name {
                    font-weight: bold;
                }
    
                .address-detail {
                    font-size: 14px;
                    color: #666;
                }
    
                .default-label {
                    background-color: #ff4d4f;
                    color: white;
                    padding: 2px 6px;
                    border-radius: 3px;
                    font-size: 12px;
                    margin-left: 10px;
                }
            }
        }
    
        .close-btn {
            background-color: #ff4d4f;
            color: white;
            padding: 10px 20px;
            border: none;
            cursor: pointer;
            margin-top: 20px;
            border-radius: 5px;
            transition: background-color 0.3s;
    
            &:hover {
                background-color: #e64444;
            }
        }
    }
    
    .modal-overlay {
        background-color: rgba(0, 0, 0, 0.7);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .line {
        height          : 66px;
        background-color: #a5d651;

        .image img {
            width : 93%;
            height: auto;
        }
    }

    
    .title-checkOut {
        font-size     : 25px;
        text-transform: uppercase;
        font-weight   : 400;
        font-style    : normal;
        font-weight   : 500;
        margin-left   : 178px;
        color         : white;
        padding-top   : 12px;
    }

    .container {
        padding: 20px 80px;

        .cart {
            display    : flex;
            align-items: center;
            margin     : 10px 0px;

            a {
                text-decoration: none;
            }

            .title-small {
                font-size        : 17px;
                /* text-transform: uppercase; */
                font-weight      : 400;
                font-style       : normal;
                font-weight      : 500;
            }
        }


        .checkOut {
            display: flex;

            .no-ship {
                border         : 1px solid #cacaca;
                /* margin-top  : 15px; */
                height         : 113px;
                border-radius  : 6px;
                display        : grid;
                justify-content: space-around;
                justify-items  : center;


                .icon {
                    width : 70px;
                    height: fit-content;
                    color : #a6a6a6;
                }

                p {
                    color: #a6a6a6;

                }
            }

            .ship,
            .payment {
                margin-top   : 15px;
                margin-bottom: 15px;
                font-weight  : 500;
                font-size    : 17px;

            }

            .shipping-method {
                border-radius   : 5px;
                background-color: #f6f6f6;
                padding         : 20px 9px;
                border          : 1px solid #d6d6d6;
                display         : flex;
                gap             : 9px;
                cursor          : pointer;

            }



            .left {

                .shipping-address {
                    border: 1px solid #ddd;
                    padding: 15px;
                    background-color: #fff;
                    border-radius: 5px;
                
                    .address-header {
                        display: flex;
                        align-items: center;
                        border-bottom: 1px dashed #ddd;
                        padding-bottom: 10px;
                        margin-bottom: 10px;
                
                        .icon {
                            color: #ff4d4f;
                            margin-right: 10px;
                        }
                
                        .title {
                            font-size: 18px;
                            font-weight: bold;
                            color: #ff4d4f;
                        }
                    }
                
                    .address-content {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                
                        .name {
                            font-size: 16px;
                            font-weight: bold;
                            color: #333;
                        }
                
                        .address-detail {
                            font-size: 14px;
                            color: #666;
                            margin-top: 5px;
                        }
                
                        .address-actions {
                            display: flex;
                            align-items: center;
                            gap: 10px;
                
                            .default-label {
                                background-color: #ff4d4f;
                                color: #fff;
                                padding: 2px 6px;
                                border-radius: 3px;
                                font-size: 12px;
                            }
                
                            .change-btn {
                                color: #007bff;
                                background: none;
                                border: none;
                                cursor: pointer;
                                font-size: 14px;
                
                                &:hover {
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                }
                
            }

            .right {

                .order {
                    .gia {
                        display        : flex;
                        justify-content: space-between;
                        color          : #820813;


                        .tam {
                            display        : flex;
                            justify-content: space-between;
                            padding        : 10px 9px;
                            font-weight    : 500;
                            font-size      : 17px;
                        }
                    }

                    .gia-ship {
                        display        : flex;
                        justify-content: space-between;

                        .tam-tinh {
                            display        : flex;
                            justify-content: space-between;
                            padding        : 10px 9px;
                            font-weight    : 500;
                            font-size      : 17px;
                        }
                    }

                    .thanh-toan {
                        background-color: #a5d651;
                        font-size       : 15px;
                        text-transform  : uppercase;
                        font-style      : normal;
                        font-weight     : 500;
                        color           : white;
                        padding         : 6px 10px;
                        text-align      : center;
                        margin-left     : 20px;
                        cursor          : pointer;
                        width           : 94%;

                        &:hover {
                            background-color: #93d128;

                        }

                    }

                    .left {
                        .check-row {
                            display      : flex;
                            gap          : 8px;
                            border-bottom: 1px solid #dbdbdb;
                            margin       : 10px;

                            /* phần info */
                            .content-left {
                                display: flex;
                                gap    : 15px;

                                .item-left {
                                    display: flex;

                                    .checkOut-image {
                                        width : 100px;
                                        height: auto;

                                    }

                                    .btn-delete {
                                        background-color: #e7e7e7;
                                        margin          : 45px 0px;
                                        padding-bottom  : 3px;
                                    }
                                }

                                .item-right {
                                    .name {
                                        font-weight: 600;
                                        font-size  : 14px;
                                        max-width: 264px;
                                    }

                                    .name-variant {
                                        font-weight     : 500;
                                        font-size       : 10px;
                                        color           : #ffffff;
                                        /* border       : 1px solid #a5d651; */
                                        background-color: #a5d651;
                                        padding         : 1px 8px;
                                        border-radius   : 10px;
                                    }
                                }


                            }

                        }

                        /* phần giá và mount */
                        .content-right {
                            display      : grid;
                            /* gap       : 5px; */
                            align-content: stretch;
                            justify-items: end;

                            .amount-number {
                                font-size  : 13px;
                                font-weight: 500;


                            }

                            .tong-price {
                                font-size  : 15px;
                                font-weight: 600;
                                margin-top : 19px;
                                color      : #820813;

                            }
                        }

                    }

                    /* phần tạm tính */
                    .right {
                        display        : grid;
                        justify-items  : start;
                        justify-content: space-evenly;
                        border-left    : 1px solid #666666;


                        .tam {
                            border-top   : 1px solid #cacaca;
                            border-bottom: 1px solid #cacaca;
                        }


                        .tam-tinh {
                            font-size     : 16px;
                            text-transform: uppercase;
                            font-style    : normal;
                            font-weight   : 700;
                            color         : #820813;
                        }

                        .tong {}


                    }
                }
            }

        }



    }
}