.systemContainer {
    flex            : 1 1;
    padding         : 20px;
    background-color: #e4e4e4;

    .pagination {
        display        : flex;
        justify-content: center;
        list-style     : none;
        padding        : 0;
        margin-top     : 20px;

        li {
            margin: 0 5px;

            a {
                padding        : 5px 10px;
                border         : 1px solid #ddd;
                color          : #333;
                cursor         : pointer;
                border-radius  : 3px;
                text-decoration: none;

                &:hover {
                    background-color: #f5f5f5;
                }
            }

            &.active a {
                background-color: #ff5253;
                color           : white;
                border-color    : #ff5253;
            }

            &.disabled a {
                color : #999;
                cursor: not-allowed;
            }
        }
    }

    .supplier{
        width       : 100%;
        color       : #616161;
        padding-left: 230px;
        padding-top : 8px;

        .top {
            margin-bottom   : 20px;
            padding         : 20px;
            box-shadow      : -1px 3px 7px 4px rgb(201 201 201 / 73%);
            background-color: rgb(255, 255, 255);
            border-radius   : 5px;
            display         : flex;
            justify-content : space-between;

            .custom-button {
                background-color: #dc3545 !important;
                color           : white !important;
                height: 40px;

                &:hover {
                    background-color: #b22b38 !important;
                }
            }
        }

        .bot {
            padding         : 20px;
            box-shadow      : -1px 3px 7px 4px rgb(201 201 201 / 73%);
            background-color: rgb(255, 255, 255);
            border-radius   : 5px;

            .button-custom {
                display      : grid;
                justify-items: start;
                row-gap      : 6px;
                border       : none;

                .edit-button {
                    font-size       : 13px;
                    background-color: white !important;
                    border-color    : green !important;
                    color           : #18aa66 !important;

                    &:hover {
                        border-color: darkgreen !important;
                        color       : rgb(1, 138, 1) !important;
                    }
                }

                .delete-button {
                    font-size       : 13px;
                    background-color: white !important;
                    border-color    : red !important;
                    color           : red !important;

                    &:hover {
                        border-color: darkred !important;
                        color       : rgb(179, 10, 10) !important;
                    }
                }
            }
        }
    }
}