.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 230px;
    height: 100vh;
    background-color: #f8f9fa;
    overflow-y: auto;
    z-index: 1000;
    flex: 1;
    min-height: 100vh;
    border-radius: 0.5px solid lightgray;
    background-color: white;

    .top {
        margin-top: 16px;
        display: flex;
        height: 50px;
        justify-content: center;
        align-items: center;
        margin-left: 30px;

        .logo img {
            width: 75%;
            height: 80%;
            margin-bottom: 1px;
        }
    }

    .bottom {
        padding-left: 25px;

        .icon {
            color: #656060;
            font-size: 25px;
            margin-right: 3px;
            padding-bottom: 5px;
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            .title {
                display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    color: #656060;
    margin-top: 5px;
    margin-bottom: 2px;
    padding: 18px 0px 0px;
    cursor: pointer;

                .arrow-icon {
                    font-size: 20px;
                    color: #656060;
                    margin-left: auto; /* Đẩy biểu tượng sang bên phải */
                }
            }

            .dropdown-content {
                margin-left: 15px;

                /* Tạo lề cho nội dung xổ xuống */
                li {
                    cursor: pointer;

                    &:hover {
                        background-color: #eeeeee;
                        /* Thay đổi màu khi hover */
                    }

                    span {
                        font-size: 14px;
                        font-weight: bold;
                        color: black;
                        margin-left: 5px;
                    }

                    a {
                        text-decoration: none;
                        color: #474747;
                        font-size: 14px;
                    }
                }
            }

            li {
                display: flex;
                align-items: center;
                padding: 2px 0px 8px 5px;
                cursor: pointer;

                &:hover {
                    background-color: #eeeeee;
                }

                span {
                    font-size: 14px;
                    font-weight: bold;
                    color: black;
                    margin-left: 5px;
                }

                a {
                    text-decoration: none;
                    color: #474747;
                }
            }
        }
    }
}