.sidebar {
    position        : fixed;
    left            : 0;
    top             : 0;
    width           : 230px;
    height          : 100vh;
    background-color: #ffffff;
    /* Màu nền chính */
    overflow-y      : auto;
    z-index         : 1000;
    flex            : 1;
    min-height      : 100vh;
    border-right    : 1px solid lightgray;
    box-shadow      : 2px 0 5px rgba(0, 0, 0, 0.1);

    .top {
        margin: 18px 0px 0px 51px;
        display: flex;
        height: 50px;
        justify-content: center;
        align-items    : center;

        .logo img {
            width        : 74%;
            height       : 80%;
            margin-bottom: 1px;
        }
    }

    .bottom {
        padding   : 10px 20px;
        margin-top: 4px;

        .icon {
            color         : #ffffff;
            font-size     : 22px;
            margin-right  : 4px;
            padding-bottom: 5px;
        }

        ul {
            list-style: none;
            margin    : 0;
            padding   : 0;

            .title {
                display         : flex;
                justify-content : space-between;
                align-items     : center;
                font-size       : 15px;
                font-weight     : bold;
                color           : #ffffff;
                margin-top      : 15px;
                padding         : 4px 5px;
                cursor          : pointer;
                transition      : background-color 0.2s;
                background-color: #ff5c6b;
                border-radius   : 6px;

                &:hover {
                    // background-color: rgba(255, 255, 255, 0.1);
                }

                .arrow-icon {
                    font-size  : 20px;
                    color      : #ffffff;
                    margin-left: auto;
                }
            }

            .dropdown-content {
                margin-left: 20px;

                li {
                    cursor       : pointer;
                    padding      : 8px 10px;
                    border-radius: 6px;
                    /* Bo góc cho item */
                    transition   : background-color 0.2s;

                    &.active {
                        background-color: #dc354547;
                        /* Màu nền khi chọn */
                        border-radius   : 6px;
                    }

                    &:hover {
                        background-color: #ebe8e8;
                        /* Hiệu ứng hover */
                        border-radius   : 6px;
                    }

                    a {
                        text-decoration: none;
                        font-weight    : 600;

                        color    : #000000;
                        /* Màu chữ trắng */
                        font-size: 15px;
                        /* Kích thước font chữ cho items */
                    }
                }
            }

            li {
                display      : flex;
                align-items  : center;
                padding      : 10px 5px;
                /* Khoảng cách giữa các mục chính */
                cursor       : pointer;
                border-radius: 6px;
                /* Bo góc cho item */
                transition   : background-color 0.2s;

                &:hover {
                    background-color: rgba(255, 255, 255, 0.1);
                    /* Hiệu ứng hover */
                }

                a {
                    text-decoration: none;
                    color          : #ffffff;
                    /* Màu chữ chính */
                    font-size      : 16px;
                    /* Kích thước font chữ cho mục chính */
                }
            }
        }
    }
}