.voucher-container {
    padding: 2rem 0;

    background-color: #ffffff;

    .carousel-container {
        background: none;
        /* Xóa màu nền */
        padding   : 0;
        /* Xóa khoảng cách */
        margin    : 0;
        /* Xóa lề */
        box-shadow: none;
        /* Nếu có hiệu ứng đổ bóng, xóa luôn */
    }

    .carousel-item {
        margin    : 0;
        /* Xóa lề giữa các item */
        padding   : 0;
        /* Xóa khoảng cách bên trong */
        background: none;
        /* Đảm bảo item không có màu nền riêng */
    }

    .voucher-card {

        .card {
            position: relative;

            .ticket-perforations {
                position        : absolute;
                left            : 0;
                right           : 0;
                display         : flex;
                justify-content : space-between;
                overflow        : hidden;
                background-color: #dc3545;

                &.top {
                    top      : 0;
                    height   : 5px;
                    color    : red;
                    transform: rotate(180deg);

                }

                &.bottom {
                    bottom: 0;
                    height: 5px;
                }

                &.left {
                    bottom        : 0;
                    height        : 5px;
                    flex-direction: column;

                }

                &.right {
                    bottom        : 0;
                    height        : 5px;
                    flex-direction: column;

                }


                // .ticket-perforations.left {
                //     top: 0;
                //     bottom: 0;
                //     left: 0;
                //     width: 10px; /* Độ rộng của perforations */
                //     flex-direction: column;
                // }

                // .ticket-perforations.right {
                //     top: 0;
                //     bottom: 0;
                //     right: 0;
                //     width: 10px;
                //     flex-direction: column;
                // }

                .circle {
                    width           : 10px;
                    height          : 10px;
                    background-color: #f8f9fa;
                    border-radius   : 50%;
                    transform       : translateY(-50%);
                }
            }

            .voucher {
                display         : flex;
                padding         : 11px;
                border-left     : 1px dashed #dc3545;
                border-right    : 1px dashed #dc3545;
                align-items     : center;
                background-color: #ffffff;
                gap             : 22px;
                justify-content : center;

                .text-voucher {
                    color      : #b90114;
                    font-size  : 18px;
                    font-weight: 900;
                }

                .text-child {
                    font-size  : 14px;
                    font-weight: 500;
                    color      : #2d2d2d;
                }

                .icon-container {
                    .icon-wrapper {
                        background-color: #ffc6cb;
                        padding         : 7px;
                        border-radius   : 5px;

                        .icon {
                            color      : #c31829;
                            /* width   : 24px; */
                            height     : 94px;
                            font-size  : 50px;
                            font-weight: 900;
                        }
                    }
                }

                .voucher-content {}
            }
        }
    }
}